client_count=8
serialised_file_max_size=0
primary_address=13.41.188.117
primary_port=5030
heartbeat_interval_seconds=30
################################################
# LLFIX singleton engine
[ENGINE]
log_level=ERROR
log_file=log.txt
management_server_port=4043
management_server_nic_ip=127.0.0.1